---
import "../styles.css";
import Carousel from "../components-react/carousel";
import Form from "../components-react/Form";
import { IMAGESCAROUSEL, ICONS, LINKSTORE } from "../config/list";
import Button from "../components-astro/button.astro";
import Spotify from "../components-astro/spotify.astro";
import IconLink from "../components-astro/iconLink.astro";
import StoreLink from "../components-astro/storeLink.astro";
import Modal from "../components-astro/modal.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <!-- Google Tag Manager -->
    <script data-astro="raw">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WBTC8C43");
    </script><!-- Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WBTC8C43"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <!-- ... Otros componentes y contenido ... -->

    <header>
      <section
        class="flex-col bg-header bg-cover bg-no-repeat bg-top h-[60vh] md:h-[85vh] min-h-[450px]
        relative items-center justify-center"
      >
        <div class="flex-col justify-center items-center">
          <Carousel client:only="react" images={IMAGESCAROUSEL} />
        </div>
        <img
          class="absolute bottom-[35%] right-2 max-w-[50%]"
          src="wellcollective/nikebras.svg"
          alt=""
        />
      </section>
    </header>

    <main class="px-4 py-1 lg:px-8 lg:py-3">
      <section class="grid text-center items-center">
        <h1
          class="font-futura uppercase font-extrabold
          -tracking-[2px] lg:-tracking-[7px] text-[1.2rem] lg:text-[3rem]"
        >
          Nike Well Collective
        </h1>
        <p
          class="font-helvetica p-4 lg:px-[10%] text-[1rem] lg:text-[1.5rem] leading-5"
        >
          Muévete con nosotros a través de las historias, servicios,
          experiencias y<br /> productos que forman parte de nuestros cinco
          pilares: movimiento, consciencia,<br /> descanso, nutrición y
          conexión.
        </p>
        <Modal />
      </section>
      <section class="mb-10">
        <h4
          class="font-helvetica text-[12px] md:text-[35px] font-bold block lg:hidden"
        >
          Compra ahora
        </h4>
        <h4
          class="font-helvetica text-[12px] md:text-[35px] font-bold hidden lg:block"
        >
          ¡No te lo pierdas!
        </h4>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="wellcollective/webnike_desk.webp"
          />
          <img
            class="w-[100vw]"
            src="wellcollective/webnike.webp"
            alt="IfItDoesntMatchAnyMedia"
          />
        </picture>
      </section>
      <section class="mb-10">
        <h4 class="font-helvetica text-[12px] md:text-[35px] font-bold">
          Descarga las Apps
        </h4>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
          <img src="wellcollective/app01.webp" alt="" />
          <img src="wellcollective/app02.webp" alt="" />
        </div>
      </section>
      <section class="mb-10">
        <h4 class="font-helvetica text-[12px] md:text-[35px] font-bold">
          No te lo pierdas
        </h4>
        <div class="relative">
          <img
            class="w-[100vw] h-[100vw] sm:h-auto object-cover"
            src="wellcollective/noperder.webp"
            alt=""
          />
          <img
            class="absolute top-2 left-2 max-w-[20%] lg:max-w-[30%]"
            src="wellcollective/logo_nike.svg"
            alt=""
          />
          <img
            class="absolute top-2 right-2 max-w-[50%] lg:max-w-[30%]"
            src="wellcollective/jessica.webp"
            alt=""
          />
        </div>
        <div class="">
          <div
            class="flex max-w-[80%] lg:max-w-[20%] m-auto justify-between items-center mt-[20px] contrast-0"
          >
            {ICONS.map((icon) => <IconLink src={icon.src} link={icon.link} />)}
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
