---
const { text ="¡Inscríbete al siguiente evento!" } = Astro.props
---
<a href="https://linktr.ee/proyectowerun" target="_blank" rel="noopener noreferrer">
<button id="buttonlink" class=" flex justify-center items-center bg-primary shadow-custom rounded-full text-[16px] lg:text-[24px] h-auto  font-PalatinoNova w-auto py-1.5 px-6 whitespace-nowrap">{text}</button> </a>