---
const { text ="¡Inscríbete al siguiente evento!" } = Astro.props
---
<a href="https://proyectowerun.com/" target="_blank" rel="noopener noreferrer">
<button id="button-inscribete" class=" flex justify-center items-center bg-primary shadow-custom rounded-full text-[16px] lg:text-[30px] h-auto  font-PalatinoNova w-auto py-1.5 px-6 lg:px-8 whitespace-nowrap">{text}</button> </a>