---
const { text = "¡Inscríbete al siguiente evento!" } = Astro.props;
---

<a href="https://proyectowerun.com/" target="_blank" rel="noopener noreferrer">
    <button
        id="button-inscribete"
        class="flex justify-center items-center bg-primary text-secondary shadow-custom text-[1.2rem] md:text-[1.4rem] 2xl:text-[1.8rem]
        rounded-full h-auto font-abc w-auto whitespace-nowrap 
        py-3 px-5 md:px-[3rem] md:py-3 2xl:px-[4rem] 2xl:py-4"
    >
        {text}
    </button>
</a>
