---
const { name, src, link } = Astro.props;
---

  <a  class="bg-black rounded-full   px-[25px] xxs:py-4 xxs:leading-8 py-1.5 md:py-4 lg:py-[14px] hover:bg-white h-auto
  leading-8 hover:text-black " href={link} target="_blank" rel="noopener noreferrer">
     <span class="flex text-[18px] xxs:text-[22px]  items-center m-auto justify-center font-PalatinoNova gap-3 lg:text-[30px]  "><img class="hover:filter hover:brightness-0"  src={src} alt="IconWhatsapp" /> <span class="xxs:leading-4">{name}</span></span>
  </a>

