---
const { id, name, src, src2, link } = Astro.props;
---

<button id={id} class="flex w-full">
  <a
    class="storelink bg-black rounded-full w-full
    hover:bg-white h-auto flex justify-center items-center text-secondary hover:text-primary
    leading-8 transition-colors duration-300 ease-in-out p-2" 
    href={link}
    target="_blank"
    rel="noopener noreferrer"
  >
    <div
      class="flex items-center justify-center text-[18px] m-auto gap-3 lg:text-[30px] text-center"    >
      <img class="logo-wp" src={src} alt="logo-wpp-verde" />
      <span class="flex justify-center items-center font-nova">
        {name}
      </span>
    </div>
  </a>
</button>
