---
const { name, src, link } = Astro.props;
---

<a
  class="bg-black rounded-full px-[25px] xxs:pb-4 pt-[18px] xxs:leading-8 py-1.5 md:py-4 lg:py-[14px] hover:bg-white h-auto flex justify-center items-center
  leading-8 hover:text-black"
  href={link}
  target="_blank"
  rel="noopener noreferrer"
>
  <span
    class="flex text-[18px] xxs:text-[21px] items-center m-auto justify-center font-PalatinoNova gap-3 lg:text-[30px] text-center"
    ><img
      class="hover:filter hover:brightness-0 xxs:w-[8%]"
      src={src}
      alt="IconWhatsapp"
    />
    <span class="xxs:leading-4">{name}</span></span
  >
</a>
