
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
    @font-face {
        font-family: "Palatino Nova" ;
        src: url("/fonts/palatino-nova-regular.ttf") format("opentype");
        font-weight: 400;
        
    }
    @font-face {
        font-family: "Univers Extrablack" ;
        src: url("/fonts/univers-nextpro-extrablack Extended.ttf") format("opentype");
        font-weight: 700;
    }
  
}
.store-container:hover .logo-verde {
display: none;
transition-duration: 600ms;
  }
  
  .store-container:hover .logo-negro {
    display: flex;
    transition-duration: 500ms;
    
  }